body {
	background-color: #2c3531 !important
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////*/

.limiter {
  width: 1366px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

/*//////////////////////////////////////////////////////////////////*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.table-column:hover {
	background-color: rgb(243,210,80, 0.5);
}

.clicked {
  background-color: rgb(243,210,80, 0.3) !important;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 300px;
  min-height: 300px;
  overflow: auto;
  background-color: #349c284a;
}


/*==================================================================*/

.table100.ver1 th {
	width: 16.666%;
  font-size: 15px;
	letter-spacing: 1px;
  color: #ffffff;
  background-color: #349c28;
}

.table100.ver1 td {
	width: 16.666%;
  font-size: 13px;
	letter-spacing: 1px;
  color: #808080;
}

.table100.ver1 .table100-body tr {
  background-color: #ffffff;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}


body {
		transition: all 0.5s;
}
p {
		margin-bottom: 0px;
		font-size: 14px;
		color: #4a4a4a;
		line-height: 24px;
}

.header-text {
		color: #FFFFFF;
		font-size: 24;
		padding-bottom: 0.5rem;
}

.selected {
    background-color: brown;
    color: #FFF;
}

.content-table-wrapper {
		padding-left: 15rem;
		padding-right: 15rem;
		padding-top: 2rem;
		padding-bottom: 3rem;
}

.table-text-format {
		text-align: center;
}

.top-bar {
		font-family: sans-serif;
		height: 120px;
		box-shadow: inset 0px -3px 5px #383d4157;
}

.top-bar-logo {
		height: 7rem;
		float: left;
		margin-left: 2rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
}

.not-selectable-text {
		user-select: none;
}

.top-bar-text {
		padding-top: 0.8rem;
		height: 8rem;
		border-bottom: 3px green solid;
		font-weight: 500;
		font-size: 70;
		letter-spacing: 3px;
		display: inherit;
		color: #ffffff;
}

.top-bar-logo-hub {
		position: absolute;
		width: 10rem;
		margin-top: 0.5rem;
		margin-left: 0.5rem;
}
.main-button {
		width: 100%;
		padding-top: 1rem;
		position: relative;
		float: right;
}

.main-button button {
		float: right;
		background-color: #d1e8e2;
		border-radius: 5px !important;
		padding: 10px 15px;
		margin-left: 5px;
		color: #000000;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		border: 0px solid #eee;
		cursor: pointer;
}

.main-button button.option {
		float: left;
		margin-left: 0;
		margin-right: 5px;
}

.main-button button:hover {
		background-color: #677077;
		color: #ffffff
}

.main-button button:focus {
	outline: 0;
}

.disabled_button {
    color: #00000059 !important;
    cursor: not-allowed;
    pointer-events: none;
}

.footer {
		height: 5rem;
}
